spring:
  mvc:
    view:
      suffix: .html
  jpa:
    show-sql: true

  datasource:
    driver-class-name: org.mariadb.jdbc.Driver
    url: jdbc:mariadb://127.0.0.1:3306/mariadb
    username: mariadb
    password: mariadb
